/* Variables for color */
$menu: #fffefe;
$logo: #ffffff;
$main_text: #999999;
$secondary_text: #008ed6;
$btn: #1a1a1a;
$amaz_text: #333333;
$device_text: #1b1b1b;
$background: #f2f2f2;
$price_background: #15141a;
$see_text: #9e9ea0;
$card_border: #e3e3e3;
$span_color: #bfbfbf;
$card_intro: #e0e0e0;
$contact_background: #ededed;
$form_background: #15141a;
$fab_color: #444348;
/* Variable for font-size */
$main_size: 16px;