/* Mixin for "intro" */
@mixin intro {
	font: {
		family: $main_font;
		size: $main_size - 2;
		weight: 700;
	}
	letter-spacing: 1.6px;
	text-transform: uppercase;
	color: $secondary_text;
}
/* Mixin for "title" */
@mixin title {
	font: {
		family: $semibold_font;
		size: $main_size + 20;
		weight: 400;
	}
	color: $btn;
	line-height: $main_size + 32;
}
/* Mixin for "text" */
@mixin text {
	font: {
		family: $main_font;
		size: $main_size + 2;
	}
	color: $main_text;
	line-height: $main_size + 10;
}
